A:hover {color: red}
A:link {color: blue}
A:active {color: green}

BODY {color:#222222; FONT-FAMILY: "comic sans ms, times new roman"; FONT-SIZE: 1.25em; font-weight:100; LINE-HEIGHT:1.5em;margin:50px;margin-right:100px};
H2 {color: black; font-family:"Comic Sans MS"}