A:hover {color: red}
A:link {color: blue}
A:active {color: green}

BODY {color:black; FONT-FAMILY: "Verdana, Arial, sans-serif"; FONT-SIZE: 10pt; LINE-HEIGHT: 14pt};
H2 {color: black; font-family:"Comic Sans MS"}